{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>


<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="heading">
            <h2>Collaborators</h2>
          </div>
        
          <div class="mb-40 row">
    
            {{ range (where .Site.RegularPages "Section" "collaborators") }}
              {{ if eq .Params.type "collaborator" }}
              <div class="text-center mb-40 mb-lg-40" style="width: 45%">
                <a href="{{.Permalink}}"><img class="mb-40" height="35%" width="30%" src="{{ .Params.image | absURL }}" alt=""></a>
                <div class="content">
                  <a href="{{.Permalink}}" style="text-decoration: none;">
                    <h4 class="subheading">{{ .Title | markdownify }}</h4>
                  </a>
                  <!-- <h5 class="content">{{ .Params.subtitle | markdownify }}</h5> -->
                </div>
              </div>
              {{ end }}
    
            {{ end }}
          </div>
        </div>

        <div class="col-md-6">
          <div class="heading">
            <h2>Consortium Members</h2>
          </div>

          <div class="mb-40 row">

            {{ range (where .Site.RegularPages "Section" "collaborators") }}
              {{ if eq .Params.type "consortium" }}
              <div class="text-center mb-40 mb-lg-40" style="width: 45%">
                <a href="{{.Permalink}}"><img class="mb-40" height="35%" width="30%" src="{{ .Params.image | absURL }}" alt=""></a>
                <div class="content">
                  <a href="{{.Permalink}}" style="text-decoration: none;">
                    <h4 class="subheading">{{ .Title | markdownify }}</h4>
                  </a>
                  <h5 class="content">{{ .Params.subtitle | markdownify }}</h5>
                </div>
              </div>
              {{ end }}

            {{ end }}
          </div>
        </div>
    </div>

    </div>
</section>

{{ end }}


