{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Events</h2>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-center">
    <div class="col-md-10 u-margin-bottom-small">
      {{ $all_pages := where .Site.RegularPages "Section" "in" (slice "events")}}
      {{ $years := slice}}
      {{ $years_tags := dict}}
      {{range $all_pages.GroupByDate "2006"}}
        {{ $years = $years | append .Key}}
        {{ $category_tags := dict}}
        {{range .Pages.GroupBy "Section"}}
          {{$temp_tags := slice}}
          {{range .Pages}}
            {{ range .Params.tags}}
              {{ $temp_tags = $temp_tags | uniq | append ( . ) }}
            {{end}}
          {{end}}
          {{$category_tags = merge $category_tags (dict .Key $temp_tags)}}
        {{end}}
        {{$years_tags = merge $years_tags (dict .Key $category_tags)}}
      {{end}}
      {{$checked := ""}}
      <ul class="nav nav-pills mb-4" id="year-tab" role="tablist">
        {{ range $key,$value := ($years | uniq ) }}
          {{if not $key}}
            {{$checked = "active"}}
          {{else}}
           {{$checked = ""}}
          {{end}}
        {{end}}
      </ul>
      <div class="tab-content" id="yeartabcontent">
        {{ range $key,$yearValue := ($years | uniq ) }}
          {{if not $key}}
            {{$checked = "active show"}}
          {{else}}
            {{$checked = ""}}
          {{end}}
          <div class="tab-pane {{$checked}}" id="year-{{$yearValue}}" role="tabpanel">
        </div>
        {{end}}
      </div>
    </div>
    <div class="col-md-10 u-margin-bottom-big">
      <div class="timeline filter vertical">
        {{ range $all_pages.ByDate.Reverse }}
          {{$class := ""}}
          {{if eq .Section "events"}}
          {{$class = "timeline-block--color1"}}
          {{end}}
          {{$groups := slice}}
          {{range .Params.tags}}
            {{$groups = $groups | append ( . )}}
          {{end}}
          <div class="timeline-block filter-item {{$class}} {{ range $groups }}{{. | urlize}} {{end}} {{.Section}} {{ dateFormat `2006` .Date }}">
            <div class="inner-box">
              <div class="inner">
                <div class="date">
                  {{ dateFormat "Jan 2" .Date }}<br>
                  {{ dateFormat "2006" .Date }}<br>
                </div>
                {{if eq .Section "events"}}
                  {{$link := .Permalink}}
                  {{with .Params.link}}
                    {{$link = .}}
                  {{end}}
                  <h4><a href="{{$link}}">{{.Title}}</a></h4>
                  <div class="icon">
                    {{$date := .Date}}
                    {{with .Params.dateTo}}
                      <i class="fas fa-calendar-week"></i><span>{{ dateFormat "January 2" $date }} to {{ dateFormat "January 2" . }}</span>
                    {{end}}
                    <i class="far fa-clock"></i><span>{{.Params.time}}</span>
                  </div>
                  <div class="icon"><i class="fas fa-map-marker-alt"></i></i><span>{{.Params.venue}}</span></div>
                  <div class="icon">
                    {{with .Params.tags}}
                      <i class="fas fa-tags"></i>
                      {{range $key, $value := . }}
                      <a href="/tags/{{ $value | urlize}}" class="tag-link">{{ $value }}</a>
                      {{end}}
                    {{end}}
                  </div>
                  <div class="btn-box">
                    <a href="{{$link}}">Read More</a>
                  </div>
                {{end}}
              </div>
            </div>
          </div>
        {{end}}
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}



