<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div style="display: flex; align-items: center; text-align: center;">
          <div class="col-md-3">
            <a href="https://www.iitm.ac.in/" target="_blank"><img src="/images/IIT_Madras_Logo.png" height="75px" /></a>
          </div>
          <div class="col-md-6">
            <ul class="list-inline footer-menu" style="margin-top: auto; margin-bottom: auto;">
              {{ range site.Menus.footer }}
              <li class="list-inline-item">
                <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            <div style="margin-top: 2rem; font-size: large;">
              <a href="contact@cerai.in" target="_blank"><i class="tf-ion-email mr-4"></i></a>
              <a href="https://twitter.com/cerai_iitm" target="_blank"><i class="tf-ion-social-twitter mr-4"></i></a>
              <a href="https://www.linkedin.com/company/cerai-iitm/" target="_blank"><i class="tf-ion-social-linkedin mr-4"></i></a>
            </div>
          </div>
          <br>
          <div class="col-md-3">
            <a href="https://rbcdsai.iitm.ac.in" target="_blank"><img src="/images/rbcdsai-logo.svg" height="75px" /></a>
          </div>
          <br>
        </div>
        <div>
          <br><br>
          <p>
            <span class="copyright-text" style="float: left;">Centre for Responsible AI | IIT Madras &copy; {{ now.Year }}</span>
            <span class="copyright-text" style="float: right;">{{ site.Params.copyright | markdownify }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
{{ with site.Params.snipcart }}
{{ if .enable }}
{{ with .snipcart_api }}
<div hidden id="snipcart" data-api-key="{{.}}"></div>
{{ end }}
{{ end }}
{{ end }}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>