{{ $current_page := . }}

<!-- navigation -->
<header class="sticky-top bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">{{ if site.Params.logo }} <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" {{with site.Params.logo_width}}width="{{.}}"{{end}}> {{ else }} <b>{{ site.Title }}</b> {{ end }}</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {{ range site.Menus.main }}

          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            {{ $drop_active := or (eq .Name $current_page ) }}
            <a href="#" class="nav-link {{ if $drop_active }}active{{ end }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              <li class="dropdown-item my-0 py-0 mx-0 px-0">
                <a class="nav-link current" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                  {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
                </a>
              </li>
              {{ end }}
            </ul>
          </li>

          {{ else }}

          <li class="nav-item">
              <a class="nav-link current" href="{{if .Pre}}{{site.BaseURL | relLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
            </li>
            {{ end }}

          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->