{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>

<style>
    .breadcrumb
    {
      padding: .6rem 1.2rem;
  line-height: 2.1rem;
  font-size: 1.2rem;
  color: #000;
    }
  </style>
  

<section class="section">
    
    <div class="container">
        <div class="col-md-12 mb-4 mb-md-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" style="background-color:white !important">
                <li class="breadcrumb-item"><a href="/" style="text-decoration: none !important">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
              </ol>
            </nav>
        <div class="row">
        <div class="col-md-12 mb-4 mb-md-0">
            <center><img class="mb-40" src="{{ .Params.image | absURL}}" width="50%" />
            <h1 class="mb-4">{{ .Title }}</h1>
            {{ with .Params.subtitle }}
            <h2>{{ . }}</h2><br>
            {{ end }}
            </center>
            {{ with .Params.pis }}
            <h4 class="mb-4"><strong>PI(s):</strong> {{ . | markdownify }}</h4>
            {{ end }}
            <span style="font-size: medium;">Tags: </span>
            {{ range .Params.tags }}
            <a href="/tags/{{ . }}" style="text-decoration: none;">
            <div style="border: 1px solid #ddd; background-color: #ddd; display: inline; padding: 5px; margin: 10px;">
              <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
            </div>
            </a>
            {{ end }}
            <br><br>
            <div class="content mb-4" style="text-align: justify;">{{.Content}}</div>
        </div>
        </div>
    </div>
</section>

{{ end }}