{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>

<section>
    <div class="text-center mb-40" style="margin-top: 5vh;">
        <h2 style="color: black;"><i class="tf-ion-pricetag"></i>[{{ .Title }}]</h2>
    </div>
</section>
<section class="section-page-news">
  <div class="container-fluid">
    {{range .Pages.GroupBy "Section"}}
    {{/* Print only for known sections as some section are disabled */}}
    {{if in (slice "research" "projects" "people" "collaborators") .Key}}
      <div class="text-center mb-4">
        <h2 class="col-12 text-center mb-5" style="font-weight: 500;">
          {{.Key | humanize }}
        </h2>
      </div>
      {{end}}
      <div class="row justify-content-center">
      {{range .Pages}}
      <div class="row mb-40">
        <div class="col-md-4 text-right mb-5 mb-lg-0">
          <img class="img-fluid" width=75% src="{{ .Params.image | absURL }}" alt="">
        </div>
        <div class="col-md-8 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><a class="link-title" href="{{.Permalink}}">{{ .Title | markdownify }}</a></h4>
            <p>{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="btn btn-main btn-main-sm">{{ i18n "read_more" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      </div>
    {{end}}
  </div>
</section>
{{ end }}
