{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>

<style>
  .breadcrumb
  {
    padding: .6rem 1.2rem;
line-height: 2.1rem;
font-size: 1.2rem;
color: #000;
  }
</style>


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" style="background-color:white !important">
            <li class="breadcrumb-item"><a href="/" style="text-decoration: none !important">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blogs</li>
          </ol>
        </nav>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>CeRAI Blogs</h2>
        </div>
      </div>
    </div>

    <div class="mb-40" style="display: flex; flex-wrap: wrap;">

      {{ range .Pages }}

        <div class="col-md-6 text-center mb-40 mb-lg-40" style="display: inline-table;">
          <a href="{{.Permalink}}"><img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt=""></a>
          <div class="contents">
            <a href="{{.Permalink}}" style="text-decoration: none;"><h4 class="subheading">{{ .Title | markdownify }}</h4></a>
            <p>{{ dateFormat "Jan 2, 2006" .Params.date }}</p>
            <p>{{ .Params.summary }}</p>
            {{ range .Params.tags }}
            <a href="/tags/{{ . }}" style="text-decoration: none;">
            <div style="border: 1px solid #ddd; background-color: #ddd; display: inline; padding: 5px; margin: 10px;">
              <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
            </div>
            </a>
            {{ end }}
          </div>
        </div>

      {{ end }}
    </div>

  </div>
            
          
  </div>
</section>
{{ end }}




