{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>


<style>
.button-box
{
text-align:center;
}

.link-button
{
padding: .6rem 1.2rem;
line-height: 2.1rem;
font-size: 1.2rem;
color: #000;
border: 1px solid #ddd;
background-color: #ddd;
display: inline;
padding: 5px;
margin: 10px;
}
.link-button .button_text {
    text-decoration: none; 
    color: black; 
}
  .title
  {
    text-align:center;
  }
  .breadcrumb
  {
    padding: .6rem 1.2rem;
line-height: 2.1rem;
font-size: 1.2rem;
color: #000;
  }
</style>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" style="background-color:white !important">
            <li class="breadcrumb-item"><a href="/" style="text-decoration: none !important">Home</a></li>
            <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
        </div>
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0">
        {{ if .Params.image}}
          <center>
            <img class="mb-40" src="{{ .Params.image | absURL }}" width="50%" />
          <h1 class="mb-4 title">{{.Title | markdownify}}</h1>
          <h2> {{ .Params.subtitle }}</h2>
        </center> 
        {{ end }}
        <h4 class="mb-4"><strong>By:</strong> {{ .Params.author | markdownify }}</h4>
        <span style="font-size: medium;">Tags: </span>
            {{ range .Params.tags }}
            <a href="" style="text-decoration: none;">
            <div style="border: 1px solid #ddd; background-color: #ddd; display: inline; padding: 5px; margin: 10px;">
              <span style="color: black; font-size: medium;"><i class="tf-ion-pricetag"></i> {{ . }}</span>
            </div>
            </a>
            {{ end }}
            <br><br>
            <div class="button-box" style="text-align:left;">
              <button class="link-button">
                  <a class="button_text" href="/blogs/"> ← Back</a>
              </button>
          </div>
            <div class="content mb-4" style="text-align: justify;">{{.Content}}</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}


